.jellyseerr-card-wrapper {
    text-decoration: none;
}

.jellyseerr-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-color: #202020;
}